<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
</head>

<body>
	<form th:action="@{/productos/insertar}" th:object ="${producto}" th:method ="POST">
		<table class="table table-striped">
				<tr><td><label>Codigo Barras:</label></td><td><input type = "text" id = "codigoBarras" th:field="${producto.codigoBarras}"></td></tr>
				<tr><td><label>Nombre:</label></td><td><input type = "text" id = "nombre" th:field="${producto.nombre}"></td></tr>
				<tr><td><label>Stock:</label></td><td><input type = "text" id = "stock" th:field="${producto.stock}"></td></tr>
				<tr><td><label>Precio:</label></td><td><input type = "text" id = "precio" th:field="${producto.precio}"></td></tr>
				<tr><td><label>Categoria:</label></td><td><input type = "text" id = "categoria" th:field="${producto.categoria}"></td></tr>
		</table>
		<input type ="submit" value ="Insertar Producto" class="btn btn-success">
 	</form>
</body>

</html>